<section class="user-edit__section">
  <div>
    <form class="user-edit__card" #profile="ngForm">
      <div>General information</div>
      <div class="user-edit__input-body">
        <label>Full name</label>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.name" name="username" class="login__usr-input ocr-input" required>
          <mat-label>Full name</mat-label>
          <mat-error>Full name cannot be empty</mat-error>
        </mat-form-field>
      </div>

      <div class="user-edit__input-body">
        <label>Email</label>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.email" name="email" class="login__usr-input ocr-input" required>
          <mat-label>Email</mat-label>
          <mat-error>Email cannot be empty</mat-error>
        </mat-form-field>
      </div>

      <div class="user-edit__input-body">
        <label>Phone</label>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="userData.phone" name="phone" class="login__usr-input ocr-input"
            required>
          <mat-label>Phone</mat-label>
          <mat-error>Phone cannot be empty</mat-error>
        </mat-form-field>
      </div>

      <div class="user-edit__input-body">
        <label>Location</label>
        <mat-form-field>
          <input matInput name="location" [(ngModel)]="userData.location" class="login__usr-input ocr-input" required>
          <mat-label>Location</mat-label>
          <mat-error>Location cannot be empty</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button class="location" (click)="getLocation()">Try It</button>
        <p id="demo">aaaaa: {{position}}
        </p>
      </div>
      <!-- <div>asaaa
        <agm-map [latitude]="coordinates.latitude" [longitude]="coordinates.longitude" [zoom]="10">
        </agm-map>
      </div> -->

    </form>
    <div class="user-edit__card">
      <div>Profile picture</div>
      <div class="user-edit__card-image">
        <img src="{{userData.image ? userData.image : './../../../../../assets/default.png'}}">
      </div>
      <label for="file-upload">
        Change photo
      </label>
      <input #file id="file-upload" type="file" accept="image/*" (change)="preview($event)" />
      <div class="user-edit__card-text">
        Max, 5MB
        <br>
        JPG or PNG formats
        <br><br>
        Recommended size:
        <br>
        144px x 144
      </div>
    </div>
  </div>
  <div class="user-edit__actions">
    <button>Save</button>
    <!-- <button [disabled]="profile.invalid">Save</button> -->
    <button>Cancel</button>
  </div>
</section>