<div id="menuToggle" class="menu-responsive">
  <input type="checkbox" />
  <span></span>
  <span></span>
  <span></span>
  <div class="side-navbar" id="menu">
    <img routerLink="" class="brand" src="./../../../../assets/logo-inactive.png">
    <div class="routes">
      <ul>
        <div class="login-container" routerLink="login" (click)="onClick('login')"
          routerLinkActive="login-active-route">
          <li class="login-logo fa fa-sign-in-alt" routerLink="login" (click)="onClick('login')"
            routerLinkActive="login-logo-active">
          </li>
          <a routerLink="login" (click)="onClick('login')" routerLinkActive="active">Log in</a>
        </div>

        <div class="dashboard-container" routerLink="dashboard" (click)="onClick('dashboard')"
          routerLinkActive="dashboard-active-route">
          <li class="dashboard-logo fa fa-th-list" routerLink="dashboard" (click)="onClick('dashboard')"
            routerLinkActive="dashboard-logo-active">
          </li>
          <a routerLink="dashboard" (click)="onClick('dashboard')" routerLinkActive="active">Dashboard</a>
        </div>

        <div class="search-container" routerLink="search" (click)="onClick('search')"
          routerLinkActive="search-active-route">
          <li class="search-logo fa fa-search" routerLink="search" (click)="onClick('search')"
            routerLinkActive="search-logo-active">
          </li>
          <a routerLink="search" (click)="onClick('search')" routerLinkActive="active">Deep search</a>
        </div>

        <div class="profile-container" routerLink="profile" (click)="onClick('profile')"
          routerLinkActive="profile-active-route">
          <li class="profile-logo fa fa-user-alt" routerLink="profile" (click)="onClick('profile')"
            routerLinkActive="profile-logo-active">
          </li>
          <a routerLink="profile" (click)="onClick('profile')" routerLinkActive="active">Profile</a>
        </div>
      </ul>
    </div>
  </div>
</div>