<div class="content login-component">
  <div class="login-message">
    Start to share by log in or create a new your account!
  </div>
  <div class="container">
    <div class="container-switch">
      <div class="switch-login" [ngClass]="{'switch-focus': focusLogin}" (click)="switchState('login')">
        <p>Log In</p>
      </div>
      <div class="switch-register" [ngClass]="{'switch-focus': focusRegister}" (click)="switchState('register')">
        <p>Register</p>
      </div>
    </div>
    <div class="container-login" [ngClass]="{'hide-container': focusRegister || focusReset}">
      <form (ngSubmit)="loginUser()" #login>
        <div class="login-data" #login>
          <!-- <p (click)="changeFocus()">Email</p> -->
          <mat-form-field>
            <input matInput type="email" [(ngModel)]="loginData.email" class="mat-select" id="login-email"
              placeholder="Email" required pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              #email="ngModel" name="email">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">
              Email is required!
            </mat-error>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.pattern">
              Email format doesn't match!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login-data">
          <mat-form-field>
            <input matInput type="password" [(ngModel)]="loginData.password" class="mat-select" id="login-password"
              name="password" placeholder="Password" required minlength="6" #password="ngModel" autocomplete="off">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
              Password cannot be empty!
            </mat-error>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.minlength">
              Password lenght must be minimum 6 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login-submit-area">
          <input type="button" class="btn btnPrimary" value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
      </form>
    </div>

    <div class="container-register" [ngClass]="{'hide-container': focusLogin || focusReset}">
      <div class="login-data">
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="loginData.name" class="mat-select" id="name" placeholder="Name"
            required pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #name="ngModel" name="name">
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
            Name is required!
          </mat-error>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.pattern">
            Name format doesn't match!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login-data">
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="loginData.email" class="mat-select" id="create-email"
            placeholder="Email" required pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email="ngModel"
            name="email">
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">
            Email is required!
          </mat-error>
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.pattern">
            Email format doesn't match!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login-data">
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="loginData.password" class="mat-select" id="create-password"
            name="password" placeholder="Password" required minlength="6" #password="ngModel" autocomplete="off">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
            Password cannot be empty!
          </mat-error>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.minlength">
            Password lenght must be minimum 6 characters!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login-submit-area">
        <input class="login-submit" type="submit" value="REGISTER" (click)="onLogin()">
      </div>
    </div>
    <div class="container-change-password" [ngClass]="{'hide-container': focusLogin || focusRegister}">
      <div class="info-message">
        <p></p>
      </div>
      <div class="login-data">
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="loginData.email" class="mat-select" id="reset-email"
            placeholder="Email" required pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email="ngModel"
            name="email">
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">
            Email is required!
          </mat-error>
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.pattern">
            Email format doesn't match!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login-submit-area">
        <input class="login-submit" type="submit" value="RESET PASSWORD" (click)="onLogin()">
      </div>
    </div>
    <div class="container-reset" [ngClass]="{'hide-container': focusReset}">
      <div class="reset-link">
        <a (click)="switchState('reset')">Forgotten your password?</a>
      </div>
    </div>

  </div>
</div>

<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <!-- <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div> -->
      <!-- Calling GoogleAuth Api from AuthService -->
      <!-- <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div> -->
    </div>
    <!-- <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div> -->
  </div>
</div>
