$url: url('./../../../../../assets/icons/rbat-icons.png');
$url-common: url('./../../../../assets/icons/rbat-icons.png');
$url-login-image: url("../../../../assets/img/login_image.png");
$url-material: url('./assets/icons/rbat-icons.png');
$primary-dark-blue: #241B99;
$hover-state-blue: #2E24AC;
$text-color-dark-blue: #060D57;
$secondary-light-blue: #565388;
$purple: #673ab7;
$background-scrollbar: #C4C4C4;
$secondary-color: #C6C9CC;
$background-color: #FAFCFD;
$background-page-color: #f8f9fa;
$background-expand: #F1F3F5;
$border-expand: #D6DDE3;
$success-message: #21B866;
$background-delete: #D42323;
$invalid: #f44336;
$input-border: #d6dde3;
$box-shadow: 0px 4px 4px #EAEBEC;
$secondary-btn-background: #d2d3eb;
$light-blue: #add8e6;

$assets-of: 159px 191px;
$assets-on: 159px 63px;
$users-of: 191px 191px;
$users-on: 191px 63px;
$entities-of: 127px 191px;
$entities-on: 127px 63px;
$history-of: 95px 191px;
$history-on: 95px 63px;
$plus-marker: 255px 127px;
$dropdown-more-off: 288px 156px;
$dropdown-more-on: 288px 30px;
$dropdown-off: 378px 150px;
$dropdown-on: 378px 22px;
$dropdown-select-off: -6px 155px;
$dropdown-select-on: -6px 27px;
$search-icon: 252px 92px;
$arrow-off: 760px 148px;
$arrow-on: 760px 20px;

$font-size-48: 48px;
$font-size-36: 36px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$bold: 600;